@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>
</div>
<br />

<ul>
   <li><p><a asp-area="Admin" asp-controller="Produtos" asp-action="Index">Produtos</a></p></li>
   <li><p><a asp-area="Admin" asp-controller="Categorias" asp-action="Index">Categorias</a></p></li>
   <li><p><a asp-area="Admin" asp-controller="Usuarios" asp-action="Index">Usuários</a></p></li>
</ul>
