@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>
</div>
<br />
<p>
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="TiposVeiculo" asp-action="Index">Tipos</a>
</p>
